@media screen and (min-width: 1200px) {
    .footer-container-1 {
        height: 150px;
    }

    .footer-items-1 {
        display: flex;
    }

    .footer-items-1 img {
        max-width: 40px;
    }
    
    .footer-items-2 img {
        max-width: 40px;
    }
}