body {
    margin: 0%;
}

/*footer styling start*/

/*
footer {
    position: absolute;
    bottom: 0;
} */

.footer-container-2 {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100px;
}

.follow-us {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.follow-us h2 {
    font-weight: 600;
    font-size: 18px;
}

.social-media-logos img {
    max-width: 30px;
}

.social-media-logos img:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.4);
}

.social-media-logos a {
    text-decoration: none;
    margin-right: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-styling {
    width: 300px; 
    height: 40px;
    margin-top: 10px;
    border: 2px solid black;
}

label {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.btn-primary {
    background-color: black;
    border: 1px solid black;
    border-radius: 0%;
    width: 300px;
    margin-top: 10px;
    height: 40px;
}

.btn-primary:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: linear 0.2s;
}

.footer-container-1 {
    background-color: black;
    height: 270px;;
    width: 100%;
    margin-top: 40px;
}

.footer-logos {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    top: 30px;
    bottom: 30px;
    line-height: 8px;
}

#footer-h3-1 {
    position: relative;
    color: white;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
}

#footer-h3-2 {
    position: relative;
    color: white;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
}

.footer-items-a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
}

.footer-items-a img:hover {
transition: all 0.2s ease-in-out;
transform: scale(1.3);
}

.footer-items-1 {
    margin-bottom: 30px;
}

.footer-items-1 img {
    max-width: 56px;
}

.footer-items-2 img {
    max-width: 56px;
}

.footer-items-1 a {
    text-decoration: none;
    margin: 0px 8px 2px 8px;
}

.footer-items-2 a {
    text-decoration: none;
    margin: 0px 8px 2px 8px;
}

.footer-container-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: 20px;
}

.footer-container-3 p {
    font-size: 13px;
    font-weight: 600;
}

.footer-container-3-a {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


/*footer styling slut*/