@import url(tablet.css);

body {
    margin: 0%;
}

/*footer styling start*/

.footer-container-1 {
    background-color: black;
    height: 270px;
}

.footer-logos {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    top: 35px;
    bottom: 35px;
    line-height: 3px;
    
}

#footer-h3 {
    color: white;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    margin: 0px 0px 15px 0px;
    text-decoration: underline;
}

.footer-items-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
}

.footer-items-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

.footer-items-1 img {
    max-width: 56px;
}

.footer-items-2 img {
    max-width: 56px;
}

.footer-items-1 a {
    text-decoration: none;
    margin: 0px 8px 2px 8px;
}

.footer-items-2 a {
    text-decoration: none;
    margin: 0px 8px 2px 8px;
}

@media screen and (min-width: 1200px) {
    .footer-container-1 {
        height: 150px;
    }

    .footer-logos {
        display: flex;
    }

    .footer-items-1 img {
        max-width: 40px;
    }
    
    .footer-items-2 img {
        max-width: 40px;
    }
}
/*footer styling slut*/