body {
    margin: 0%;
}

.footer-container-1 {
    background-color: black;
    height: 250px;
}

.footer-logos {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    top: 20px;
}

.footer-items-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
}

.footer-items-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer-items-1 img {
    max-width: 56px;
}

.footer-items-2 img {
    max-width: 56px;
}

.footer-items-1 a {
    text-decoration: none;
    margin: 0px 8px 2px 8px;
}

.footer-items-2 a {
    text-decoration: none;
    margin: 0px 8px 2px 8px;
}