body  {
    margin: 0px;
}

.header-nav-container {
    display: flex;
    justify-content: space-between;

    width: auto;
    height: 100px;

    background-color: black;
}

.tickets button {
    color: rgb(255, 255, 255);
    background-color: black;


    border: 2px solid greenyellow;
    transition-duration: 0.4s;

    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    position: relative;
    top: 35px;
    left: 10px;
}

.tickets button:hover {
    background-color: greenyellow;
    color: black;
}

.logo img {
    width: auto;
    height: 85px;

    position: relative;
    top: 10px;
    right: 15px;
}

.meny button {
    color: greenyellow;
    background-color: rgb(0, 0, 0);

    border-color: greenyellow;
    border-style: solid;
    transition-duration: 0.4s;

    width: 50px;
    height: 50px;

    position: relative;
    top: 25px;
    right: 10px;
}

.meny button:hover {
    background-color: rgb(172, 255, 47);
    color: rgb(255, 255, 255);
}