$font-stack: "Josefin Sans", sans-serif;
$font-size-h1: 50px;
$font-size-h2: 30px;
$font-style: italic;
$font-weight-h1: 600;
$font-weight-h2: 520;
$text-decoration: none;
$color-link: black;
$shadow: 5px 10px 8px #888888;

main {
    h1 {
        font-family: $font-stack;
        font-weight: $font-weight-h1;
        font-style: $font-style;
        font-size: $font-size-h1;
    }

    h2 {
        font-family: $font-stack;
        font-weight: $font-weight-h2;
        font-size: $font-size-h2;
    }

    h3 {
        font-family: $font-stack;
    }

    p {
        font-family: $font-stack;
    }

    li {
        font-family: $font-stack;
    }

    button {
        font-family: $font-stack;
    }

    .header-main {
        box-shadow: $shadow;
    }

    .headline {
        box-shadow: $shadow;
    }
}

.second-main {
    a {
        text-decoration: $text-decoration;
        color: $color-link;
    }
}



footer {

    h2 {
        font-family: $font-stack;
    }

    label {
        font-family: $font-stack;
    }

    h3 {
        font-family: $font-stack;
    }

    p {
        font-family: $font-stack;
    }

    a {
        font-family: $font-stack;
    }
}

