@media screen and (min-width: 1024px) {
 

    .header-nav-container {
        display: flex;
        justify-content: space-between;
        height: 80px;
    }
    
    .tickets button {
    
        border: 4px solid #b7eba4;
        font-size: 15px;
        left: 20px;
        top: 25px;
    }
    
    .logo img {
        height: 70px;
        right: 40px;
    }
    
    .meny button {
        top: 15px;
        right: 20px;
    }
    
    .banner img {
        width: 800px;
    } 
    } 