@media screen and (min-width: 820px) {
 

    .header-nav-container {
        display: flex;
        justify-content: space-between;
        height: 90px;
    }

    .mobile-tickets-btn {
<<<<<<< HEAD
=======
        position: relative;
>>>>>>> 1e8dc60c9876d7222bf706cacb2d0175dc0bee6b
        top: 20px;
        right: 50px;
    }
    

    .logo img {
        height: 80px;
    }
    
    .meny button {
        top: 20px;
        right: 10px;
    }
    
    .banner img {
        width: 800px;
    } 
    }