@media screen and (min-width: 1200px) {
 
    /*Dolda knapapr*/
    .mobile-tickets-btn {
        display: none;
    }
    .mobile-meny-btn {
        display: none; /* Dölj mobil-ikonen */
    }
    
    .header-nav-container {
        height: 80px;
    }
    
    .desktop-button-left {
        display: inline-block; /* Visa desktop-knappen */
        color: rgb(255, 255, 255);
        background-color: black;
    
    
        border: 2px solid #b7eba4;
        transition-duration: 0.4s;
        padding: 3px;
    
        font-size: 25px;
        font-weight: bold;
        font-style: italic;
        position: relative;
        top: 20px;
        left: 20px;
    }

    .desktop-button-left:hover {
        background-color: #b7eba4;
        color: black;
    }

    .logo img {
        height: 70px;
    }
    
    .desktop-button-right {
        display: inline-block; /* Visa desktop-knappen */
        color: rgb(255, 255, 255);
        background-color: black;
    
    
        border: 2px solid #b7eba4;
        transition-duration: 0.4s;
        padding: 3px;
    
        font-size: 25px;
        font-weight: bold;
        font-style: italic;
        position: relative;
        top: 20px;
        right: 20px;
    }

    .desktop-button-right:hover {
        background-color: #b7eba4;
        color: black;
    }
    } 