@media screen and (min-width: 820px) {
 

    .header-nav-container {
        display: flex;
        justify-content: space-between;
        height: 90px;
    }

    .mobile-tickets-btn {
        position: relative;
        top: 20px;
        right: 120px;
    }

    .desktop-button-left {
        display: none;
    }
    
    .desktop-button-right {
        display: none;
    }
    

    .logo img {
        height: 80px;
    }
    
    .mobile-meny-btn {
        top: 20px;
        right: 30px;
    }
    
    .banner img {
        width: 800px;
    } 
    }