
@import url(tablet.css);
body {
    margin: 0;
}
.header-nav-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100px;
    background-color: #000;
}

/*hamburgermeny*/

.dropdown {
    position: relative;
    right: 0;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 75px;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    display: block;

    font-family: "Josefin Sans", sans-serif;   
    font-weight: 600;   
    font-style: italic;
  }
  
  .dropdown-content a:hover {background-color: #b7eba4;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /*hamburgermney*/

.mobile-meny-btn,
.mobile-tickets-btn {
    color: #b7eba4;
    background-color: #000;
    border: 2px solid #b7eba4;
    transition-duration: 0.4s;
    padding: 15px;
    width: 50px;
    height: 50px;
    position: relative;
    top: 40px;
}
.mobile-tickets-btn {
    right: 0;
}
.mobile-tickets-btn:hover {
    background-color: #b7eba4;
    color: #000;
}
.desktop-button-left,
.desktop-button-right {
    display: none;
}
.logo img {
    width: auto;
    height: 90px;
    position: relative;
    top: 5px;
}
.mobile-meny-btn:hover {
    background-color: #cde8a4;
    color: #fff;
}
.banner {
    width: 100%;
    overflow: hidden;
}
.banner-content {
    display: flex;
    width: 200%;
    animation: 15s linear infinite scrollBanner;
}
.banner img {
    width: 500px;
}
@keyframes scrollBanner {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}