@media screen and (min-width: 1200px) {
    .mobile-meny-btn,
    .mobile-tickets-btn {
        display: none;
    }

    .logo img {
        position: relative;
        left: 60px;
    }
    .desktop-button-left,
    .desktop-button-right {
        display: inline-block;
        color: #fff;
        background-color: #000;
        border: 2px solid #000;
        transition-duration: 0.4s;
        padding: 3px;
        font-size: 25px;
        font-weight: 700;
        font-style: italic;
        position: relative;
        top: 20px;
        left: 70px;
    }
    .header-nav-container {
        height: 80px;
        justify-content: space-around ;
    }
    .desktop-button-left {
        left: 20px;
    }
    .desktop-button-left:hover,
    .desktop-button-right:hover {
        background-color: #b7eba4;
        color: #000;
    }
    .logo img {
        position: relative;
        height: 70px;
    }
    .desktop-button-right {
        right: 0px;
    }
}