@media screen and (min-width: 820px) {
 
body  {
    margin: 0px;
}


.first-main-container {
    display: flex;
    width: 100%;
    height: auto;
}

.information {
    width: 50%;
    height: 40px;
}

.information-container {
    width: 50%;
    height: 400px;
    
}
.ticket-headline {
    font-size: 20px;
    position: relative;
    top: 20px;
}

.ticket-headline h1 {
    margin-bottom: 30px;
    font-size: 40px;
}

.ticket-information {
    font-size: 10px;
    position: relative;
    top: 10px;
}

.ticket-mobile {
display: none;
}

.ticket-tablet {
  display: contents;
  font-size: x-large;
}

.ticket-computer {
  display: none;
}
    
    .second-main-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        justify-content: center;
        gap: 40px;
    }
    
    .headline {
        font-size: 30px;
        }
        
    .polaroid-container {
        display: inline-block;
        padding: 30px 30px 40px; /* Polaroid-typisk ram */
        width: 380px; /* Justera storlek efter behov */
          }
        }