@import url(tablet.css);

body  {
    margin: 0px;
}


.first-main-container {
    width: 100%;
    height: auto;
}

.information {
    width: 100%;
    height: 400px;
}

.information img {
        max-width: 100%;
        height: auto;
}
 
.ticket-headline {
    font-weight: bolder;
    font-size: 22px;
    text-align: center;
}

.ticket-information {

    font-style: italic;
    font-size: 14px;
    text-align: center;
}

.second-tickets button {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);


    border: 2px solid #b7eba4;
    transition-duration: 0.4s;
    padding: 3px;

    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    position: relative;
    left: 50px;
    top: 20px;
    bottom: 50px;
}

.second-tickets button:hover {
    background-color: #b7eba4;
    color: black;
}

.headline-animation {
    font-style: italic;
    font-size: 20px;
    text-align: center;


    background-color: #b7eba4;
    width: 100%;
    height: 100px;
    margin-top: 100px;
}

.polaroid-container {
    display: inline-block;
    padding: 20px 20px 30px; /* Polaroid-typisk ram */
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Lätt skugga för 3D-effekt */
    text-align: center; /* Centrera bildtexten */
    width: 300px; /* Justera storlek efter behov */
    
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .polaroid-video {
    display: block;
    width: 100%; /* Videon tar upp hela bredden av containern */
    height: auto;
    border: 1px solid #ccc; /* Liten kant runt videon */
  }
  
  .polaroid-caption {
    font-family: 'Courier New', Courier, monospace; /* Polaroid-liknande font */
    font-size: 14px;
    color: #555;
    margin-top: 10px;
  }

  .signature-artist {
    width: 120px;
    position: relative;
    top: 20px;
  }
  .signature-artist-lp {
    width: 260px;
    position: relative;
    top: 20px;
  }
  






